/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:  #11db51; 
}

/* Encabezado */
header {
    background-color: #0b8b2f; /* Verde medio tipo navbar */
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-button {
    background-color: white;
    color: #0b8b2f;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    border: none;
}

.logout-button:hover {
    background-color: #e0e0e0;
    color: #006400;
}

/* Contenido principal */
.main-content {
    display: flex;
    flex: 1;
}

/* Menú lateral */
.menu-column {
    width: 220px;
    background-color: #11db51;/* Igual que fondo principal */
    color: white;
    padding: 1rem;
    height: 100%; /*tenia 580x*/
}

.menu-column ul {
    list-style: none;
    padding: 0;
}

.menu-column li {
    margin: 25px 0;
}

.menu-column a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-column a:hover {
    color: #0b8b2f;
}

/* Contenido derecho */
.content-column {
    flex: 1;
    padding: 2rem;
    background-color: #ffffff;
    color: #333;
}
