body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Contenedor del formulario */
.contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid green;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del formulario */
.contenedor-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

/* Etiquetas e inputs */
.btn-txt {
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
}

/* Botón de ingreso */
.btn-ingresar {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Enlace de registro */
.txt-register {
    text-align: center;
    margin-top: 10px;
}

.txt-register a {
    text-decoration: none;
    color: green;
}

.txt-register a:hover {
    color: grey;
}

/* ------------------------ REGISTRO ------------------------------------------- */
/* Contenedor principal */
.contenedor-pagina {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Columna izquierda con logo (50%) */
.header-registro {
    width: 50%;
    background-color: rgb(88, 196, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logito {
    width: 70%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

/* Columna derecha con formulario (50%) */
.form-contenedor {
    width: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Formulario */
form {
    background-color: white;
    padding: 25px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.txt-form {
    font-size: 28px;
    color: #28a745;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.3);
}

.btn-submit {
    text-align: center;
    border: none;
    width: 100%;
    background-color: green;
    color: white;
    font-weight: bold;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
}



