{% extends 'productos/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <h2>Agregar Producto</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nombreProduc">Nombre del producto</label>
        {{ form.nombProduc }}

        <label for="descripcion">Descripción</label>
        {{ form.descripcion }}

        <label for="precio">Precio</label>
        {{ form.precio }}

        <label for="categoriaProduc">Categoria</label>
        {{ form.Categoria }}

        <label for="precio">Imagen</label>
        {{ form.imgProduc }}

        <button type="submit" class="btn-guardar">Guardar Producto</button>
    </form>

    <a class="volver" href="{% url 'dashboard' %}">← Volver al dashboard</a>
</div>

</body>
</html>
{% endblock %}