{% extends 'productos/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar">
    <img src='./media/uploads/products/logoPrin.png' alt="Logo">
    <div class="search-box">
        <input type="text" placeholder="¿Qué estás buscando?">
        <i class="fa fa-search"></i>
    </div>
    <div class="nav-links">
        {% if usuario_id %}
            <a href="{% url 'usuarios:logout' %}">Cerrar sesión</a>
            <div class="dropdown">
                <a href="{% url 'productos:producto' %}">Productos</a>
                <div class="dropdown-content">
                    <a href="#Colagenos">Colagenos</a>
                    <a href="#Citratos">Citratos</a>
                    <a href="#Propoleos">Propoleos</a>
                    <a href="#Drenadores hepaticos">Drenadores hepaticos</a>
                    <a href="#Multivitaminicos">Multivitaminicos</a>
                    <a href="#Purgantes">Purgantes</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'usuarios:nosotros' %}">Nosotros</a>
            <a href="{% url 'usuarios:contacto' %}">Contacto</a>
            <a href="{% url 'usuarios:login' %}">Iniciar sesión</a>
        {% endif %}
    </div>
    <div class="icons">
        <i class="fa fa-question-circle"></i>
        <i class="fa fa-user"></i>
        <i class="fa fa-shopping-cart"></i>
    </div>
</nav>
<section class="Productos">
    {% for product in products %}
        <div class="container-produc">
            <div class="container-principal">
                <img class="img-produc" src="{{product.imgProduc.url}}">
                <div class="container-info">
                    <h4 class="name-produc">{{product.nombProduc}}</h4>
                    <h5 class="desc-produc">{{product.descripcion}}</h5>
                    <h5 class="price-produc">${{product.precio}}</h5>
                    <button class="btn-comprar">Comprar</button>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}

{% block footer %}
<footer>
    <p>&copy;Página Tienda Naturista Los girasoles 2025</p>
</footer>
{% endblock %}


<script src="{% static 'productos/JS/boton.js' %}"></script>

